@model MovieGenreViewModel
   
   @section menu
   {
        @* @await Html.PartialAsync("_Menu", Model.Genres) *@
         @await Component.InvokeAsync("Genres")
   }

     <h1>Film Listesi</h1>
     <div class="movies" id="movies">
       @if(Model.Movies.Count <= 0)
       {
         <div class="alert text-center fw-bold alert-warning" role="alert">
              Film Bulunamadı!
         </div>
       }
      else
      {
            @foreach(var movie in Model.Movies)
         {
            @await Html.PartialAsync("_Movie", movie);
         }
      }
     </div>

    
 