@model Movie;
@section header
{
     @await Html.PartialAsync("_Header")
}
    <h1>Film Listesi</h1>
     <div class="movies" id="movies">
        @await Html.PartialAsync("_Movie", Model)
    </div>
        