@model HomePageViewModel;
@section header
{
     @await Html.PartialAsync("_Header")
}
    <h1>Film Listesi</h1>
     <div class="movies" id="movies">
        @foreach(var movie in Model.PopularMovies)
        {
             @await Html.PartialAsync("_Movie", movie)
        }
    </div>
        